@font-face {
    font-family: gilory-bold;
    src: url("./Gilroy-Bold.ttf") format("truetype");
}

@font-face {
    font-family: gilory-light;
    src: url("./Gilroy-Light.ttf") format("truetype");
}

@font-face {
    font-family: gilory-Medium;
    src: url("./Gilroy-Medium.ttf") format("truetype");
}

@font-face {
    font-family: gilory-Regular;
    src: url("./Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: gilory-semi;
    src: url("./Gilroy-Bold.ttf") format("truetype");
}


/* .wrapper {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
} */